#board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.cell {
  width: 100px;
  height: 100px;
  background-color: red;

  text-align: center;
  font-size: 60px;
  color: white;
}

.hideWin {
  display: none;
}
.showWin {
  display: block;
}
